<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
      @media only screen and (max-width: 600px) {
        .main {
          width: 320px !important;
        }

        .top-image {
          width: 100% !important;
        }

        .inside-footer {
          width: 320px !important;
        }

        table[class="contenttable"] {
          width: 320px !important;
          text-align: left !important;
        }

        td[class="force-col"] {
          display: block !important;
        }

        td[class="rm-col"] {
          display: none !important;
        }

        .mt {
          margin-top: 15px !important;
        }

        *[class].width300 {
          width: 255px !important;
        }

        *[class].block {
          display: block !important;
        }

        *[class].blockcol {
          display: none !important;
        }

        .emailButton {
          width: 100% !important;
        }

        .emailButton a {
          display: block !important;
          font-size: 18px !important;
        }
      }






    </style>
</head>

<body link="#2e60ad" vlink="#2e60ad" alink="#2e60ad">
<table
        class="main contenttable"
        align="center"
        style="
        font-weight: normal;
        border-collapse: collapse;
        border: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #555559;
        background-color: white;
        font-size: 16px;
        line-height: 26px;
        width: 800px;
      "
>
    <tr>
        <td
                class="border"
                style="
            border-collapse: collapse;
            border: 1px solid #eeeff0;
            margin: 0;
            padding: 0;
            -webkit-text-size-adjust: none;
            color: #555559;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 26px;
          "
        >
            <table
                    style="
              font-weight: normal;
              border-collapse: collapse;
              border: 0;
              margin: 0;
              padding: 0;
              font-family: Arial, sans-serif;
            "
            >
                <tr>
                    <td
                            valign="top"
                            class="side title"
                            style="
                  border-collapse: collapse;
                  border: 0;
                  margin: 0;
                  padding: 20px;
                  -webkit-text-size-adjust: none;
                  color: #555559;
                  font-family: Arial, sans-serif;
                  font-size: 16px;
                  line-height: 26px;
                  vertical-align: top;
                  background-color: #f5f5f5;
                  border-top: none;
                "
                    >
                        <table
                                style="
                    font-weight: normal;
                    border-collapse: collapse;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    font-family: Arial, sans-serif;
                    width: 100%;
                  "
                        >
                            <tr>
                                <td
                                        class="head-title"
                                        style="
						overflow: visible;
						white-space: nowrap;
						line-height: 122px;
						margin-top: -28.5px;
						text-align: center;
						font-family: Helvetica Neue;
						font-style: normal;
						font-weight: normal;
						font-size: 45px;
						color: rgba(23,67,123,1);
                      "
                                >

                                    <a href="{{frontend_base_url}}"></a>
                                </td>
                            </tr>

                            <tr>
                                <td
                                        class="text"
                                        style="
                        border-collapse: collapse;
                        border: 0;
                        margin: 0;
                        padding-top:20px;
                        padding-left:20px;
                        -webkit-text-size-adjust: none;
                        color: #555559;
                        font-size: 16px;
                        line-height: 26px;
                        background-color: white;
                      "
                                >
                                    <div class="mktEditable" id="main_text">

                        <span style="
							line-height: 20px;
							text-align: left;
							font-family: Helvetica Neue;
							font-style: normal;
							font-weight: normal;
							font-size: 20px;
							color: rgba(61,61,61,1);">
							Hi {{username}},</span>
                                        <br/>
                                        <span style="
						  	line-height: 40px;
							text-align: left;
							font-family: Helvetica Neue;
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							color: rgba(61,61,61,1);
							">
							Welcome to Project !
						  </span>
                                        </br>
                                        <hr color="#e6e3e3" size="3">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text"
                                    style="
                    	padding-left:20px;
                    	text-align: left;
						font-family: Helvetica Neue;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						color: rgba(61,61,61,1);
						background-color: white;
                    ">

                        <span
                        >Thanks for getting started with Project. You registered an account on Project, Before being able to
							use your account by clicking the below button you will be able to verify your email address and the
							button link is valid for next 5 minutes only. If you have already verified your email address please
							ignore this mail.</span
                        >

                                </td>
                            </tr>
                            <tr>
                                <td
                                        class="text"
                                        style="
                        border-collapse: collapse;
                        border: 0;
                        margin: 0;
                        padding: 30px;
                        -webkit-text-size-adjust: none;
                        color: #555559;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        background-color:white;
                      "
                                >
                                    <div
                                            class="mktEditable"
                                            id="reset_button"
                                            style="text-align: center;"
                                    >
                                        <a
                                                href="{{verification_link}}"
                                                style="
                            color: rgba(255,255,255,1);
                            background-color: #3ab67a;
                            border: 20px solid #3ab67a;
                            border-left: 30px solid #3ab67a;
                            border-right: 30px solid #3ab67a;
                            border-top: 10px solid #3ab67a;
                            border-bottom: 10px solid #3ab67a;
                            border-radius: 3px;
                            text-decoration: none;
                            font-family: Helvetica Neue;
                          "
                                        >Verify Email</a
                                        >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                        class="text"
                                        style="
                        border-collapse: collapse;
                        border: 0;
                        margin: 0;
                        padding-left:20px;
                        -webkit-text-size-adjust: none;
                        color: #555559;
                        font-family: Arial, sans-serif;
                        font-size: 16px;
                        line-height: 24px;
                        background-color:white;
                      "
                                >
                                    <div style="text-align: left">
                        <span
                                style="
							white-space: nowrap;
							text-align: left;
							font-family: Helvetica Neue;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							color: rgba(61,61,61,1);
                          "
                        >Kind Regards, <br/>Project Team</span
                        >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td
                                        class="text"
                                        style="
                      	padding-top:40px;
                        padding-left:20px;
                    	text-align: left;
						font-family: Helvetica Neue;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						color: rgba(61,61,61,1);
						background-color: white;
                      "
                                >
                        <span style="">

                          If the button above does not work, try copying and pasting the URL into your browser. If you continue to have problems,
							please feel free to contact us at
                          <a href="mailto:contact@htree.plus"><span style="color:#3ab67a; text-decoration:underline; ">contact@htree.plus</span></a>
						  </span
                          >
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
